
.MuiSvgIcon-fontSizeSmall {
    fill: red !important
}

body {
    background-color: #fff
}

@keyframes float {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

@keyframes floatAlt {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		transform: translatey(20px);
	}
	100% {
		transform: translatey(0px);
	}
}

a {
  text-decoration: none !important  ;
  color: "black";
}

.description {
	max-width: 900px;
	margin: 32px auto
}

.descriptionMarkdown {
	text-align: center;
	font-weight: 300;
	padding: 16px;
	line-height: 1.6;
	letter-spacing: 0.5px;
}

.infoText {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1.5px;
	color: #ffff !important;
  }


  .categoryError {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  min-height: 50vh;
	  flex-direction: column;
  }